<div class="page-header">
    <h1>TODO</h1>
</div>

<div ng-repeat="list in lists | orderBy:'id'">
    <div class="panel panel-primary list">
        <div class="panel-heading list-title-form">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-calendar"></span>
                <span ng-hide="list.edit" class="list-title">{{list.title}}</span>
                <input ng-show="list.edit" focus-on="list.edit"
                       ng-blur="updateList(list)" ng-model="list.title" type="text" class="edit">
                <button ng-click="destroyList(list)" class="but btn-link glyphicon glyphicon-trash destroy"
                        type="button"></button>
                <button ng-click="listEditForm(list)" class="but btn-link glyphicon glyphicon-pencil edit"
                        type="button"></button>
            </h3>

        </div>

        <div class="panel-body tasks">
            <div class="panel-heading add-task-panel">
                <div class="row">
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                    <div class="col-sm-11">
                        <form ng-submit="addTask(list)">
                            <div class="input-group">
                                <input ng-model="list.newTaskText" type="text" class="form-control" placeholder="Type this">
                              <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Add Task</button>
                              </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row table-wrapper">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                            <tr ng-repeat="task in list.tasks">
                                <td class="done"><input ng-model="task.done" ng-click="task.editDone = 1;updateTask(task);" type="checkbox"></td>
                                <td class="text">
                                    <span ng-hide="task.editText">{{task.text}}</span>
                                    <textarea ng-show="task.editText" focus-on="task.editText"
                                            ng-blur="updateTask(task)" ng-model="task.text" type="text" class="edit"></textarea>
                                </td>
                                <td>

                                </td>
                                <td class="edit">
                                    <button ng-click="taskEditForm(task)" class="but btn-link glyphicon glyphicon-pencil edit"
                                            type="button"></button>
                                </td>
                                <td class="destroy">
                                    <button ng-click="destroyTask(list,task)" class="but btn-link glyphicon glyphicon-trash destroy"
                                            type="button"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<form ng-submit="addList()"
      style="margin-top:30px;">
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-success btn-lg btn-block">Add TODO list</button>
        </div>
    </div>
</form>