<div class="page-header">
    <h1>Flapper News</h1>
</div>

<div ng-repeat="list in lists | orderBy:'-upvotes'">
    <div class="panel panel-primary list">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-calendar"></span>
                <span ng-hide="list.edit">{{list.title}}</span>
                <input ng-show="list.edit" ng-blur="updateList(list)" ng-model="list.title" type="text" class="input-sm edit">
                <button ng-click="destroyList(list)" class="but btn-link glyphicon glyphicon-trash delete" type="button"></button>
                <button ng-click="editForm({c:1,list:list})" class="but btn-link glyphicon glyphicon-pencil edit" type="button"></button>
            </h3>

        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<form ng-submit="addList()"
      style="margin-top:30px;">
    <h3>Add a new post</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Title"
               ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>