// Place all the styles related to the home_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav.navbar-nav {
  .name {
    cursor: default;
    font-size: 22px;
    color: #1c1c1c;
  }
  .logout {
    cursor: pointer;
  }
}

.list {
  .list-title-form {
    h3 {
      height: 20px;
    }

    span.list-title {
      padding: 0 10px;
    }

    button.edit {
      float: right;
      margin-right: 5px;
      color:white;
    }
    input.edit {
      background-color: rgba(48, 160, 186, 0.95);
      border-width: 0;
      height: inherit;
      padding: 0px 10px;
      line-height: inherit;
      font-size: inherit;
    }

    button.destroy {
      float: right;
      color:white;
    }
  }

  .tasks {

    padding: 0;


    .add-task-panel {
      border-radius: 0;
      background-color: rgb(241, 246, 247);
      border-color: lightgray;

      .glyphicon-plus {
        font-size: 30px;
        color:#5cb85c;
      }

      .time {
        width: 126px;
      }
    }

    .table-wrapper{
      max-height: 200px;
      overflow: auto;
    }

    .table {
      margin: 0;
      background-color: rgb(252, 255, 207);

      td.done {
        width: 50px;
        padding: 3px;

        input {
          height: 30px;
          width: 100%;
        }
      }


      td.text {

        p {
          white-space: pre-line;
        }

        textarea.edit {
          background-color: rgba(132, 255, 139, 0.42);
          border-width: 0;
          min-height: 100px;
          padding: 0px 10px;
          line-height: inherit;
          font-size: inherit;
          z-index: 5;
          border-radius: 0 0 4px 4px;
          width: 90%;
        }

        textarea.edit:focus {
          outline:0px !important;
          -webkit-appearance:none;
        }
      }

      td.time {
        width: 60px;
        text-align: center;
        a {
          white-space: nowrap;
        }

      }

      td.edit {
        width: 50px;
      }

      td.destroy {
        width: 50px;
      }
    }
  } /*tasks*/
}/*list*/

.list1 {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.item {
  width: 200px;
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #EA8A8A;

  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  /*cursor: move;*/
}

.myHandle {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-color: #000;
  cursor: move;
}