// Place all the styles related to the home_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #eee;
}

.nav.navbar-nav {
  .name {
    cursor: default;
    font-size: 22px;
    color: #1c1c1c;
  }
  .logout {
    cursor: pointer;
  }
}

.form-signin, .form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .input-group, input {
    margin-bottom:10px;
  }

  .validationAlerts .label {
    display: block;
  }
}

.list {

  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  border-width: 1px;

  .list-title-form {
    background: linear-gradient(to top, #676FFF, #4936F1);

    h3 {
      height: 20px;
      color:white;
    }

    span.list-title {
      padding: 0 10px;
    }

    button.edit {
      float: right;
      margin-right: 5px;
      color:white;
    }
    input.edit {
      background-color: rgba(48, 160, 186, 0.95);
      border-width: 0;
      height: inherit;
      padding: 0px 10px;
      line-height: inherit;
      font-size: inherit;
    }

    button.destroy {
      float: right;
      color:white;
    }
  }



  padding: 0;


  .add-task-panel {
    border-radius: 0;
    background-color: rgb(241, 246, 247);
    border-color: lightgray;

    .glyphicon-plus {
      font-size: 30px;
      color:#5cb85c;
    }

    .time {
      width: 126px;
    }
  }

  .table-wrapper{
    max-height: 200px;
    overflow: auto;
  }


}/*list*/

ul.tasks {

  li{
    background-color: rgb(252, 255, 207);

    div.done {
      width: 50px;
      padding: 3px;

      input {
        height: 30px;
        width: 100%;
      }
    }

    div.handle {
      font-size: 25px;
      color: rgb(89, 89, 89);
      padding-top: 6px;
      cursor: move;
    }


    div.text {

      p {
        white-space: pre-wrap;
      }

      textarea.edit {
        background-color: rgba(132, 255, 139, 0.42);
        border-width: 0;
        min-height: 100px;
        padding: 0px 10px;
        line-height: inherit;
        font-size: inherit;
        z-index: 5;
        border-radius: 0 0 4px 4px;
        width: 90%;
      }

      textarea.edit:focus {
        outline:0px !important;
        -webkit-appearance:none;
      }
    }

    div.time {
      width: 60px;
      text-align: center;

      .datetime-dropdown {
        left: -245px;
      }
      a {
        white-space: nowrap;
      }

      a:hover,a:focus {
        text-decoration: none;
      }

    }

    div.edit {
      width: 50px;
      padding-left: 28px;
    }

    div.destroy {
      width: 50px;
    }
  }

  li:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}