<form ng-submit="register()" class="form-register" name="register">
    <h2>Registration</h2>
    <input ng-model="user.email" name="uEmail" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <div ng-show="register.$submitted || register.uEmail.$touched">
        <span ng-show="register.uEmail.$error.required">Tell us your email.</span>
        <span ng-show="register.uEmail.$error.email">This is not a valid email.</span>
    </div>
    <input type="text" name="uName" class="form-control" placeholder="Username" ng-model="user.username" required="">
    <div ng-show="register.$submitted || register.uName.$touched">
        <span ng-show="register.uName.$error.required">Tell us your name.</span>
    </div>
    <input ng-model="user.password" name="uPassword" min="8" max="20" type="password" class="form-control" placeholder="Password" required="">
    <div ng-show="register.$submitted || register.uPassword.$touched">
        <span ng-show="register.uPassword.$error.required">Where is your password?</span>
        <span ng-show="register.uPassword.$error.min">Min 8 symbols.</span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>